# Clay / Quarto build artifacts
temp/
_site/
/.quarto/
.luarc.json
site/_site/
site/dist/

# Node / npm
node_modules/

# Clojure
.cpcache/
.nrepl-port
.socket-repl-port

# IDEs
.idea/
.vscode/
*.iml
.calva/
.clj-kondo/
.lsp/

# OS
.DS_Store
Thumbs.db
