{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.10.3"}
        io.github.nextjournal/clerk {:mvn/version "0.17.1102"}

        ;; silence log warnings
        org.slf4j/slf4j-nop {:mvn/version "1.7.36"}}

 :aliases {:dev {:extra-paths ["dev" "notebooks"]
                 :extra-deps {io.github.nextjournal/clerk {:mvn/version "0.17.1102"}}}

           :nextjournal/clerk {:extra-paths ["notebooks"]
                               :exec-fn nextjournal.clerk/build!
                               ;; notebooks to be built, accepts globs patterns
                               :exec-args {:git/url "https://github.com/pragyan/vade-bytes"
                                           :paths ["notebooks/articles/intro_to_algorithms.clj"]
                                           :index "index.md"
                                           :out-path "public"}
                               :main-opts ["-m" "babashka.cli.exec"]}}}
